@import url('https://fonts.googleapis.com/css2?family=Anton&family=Cherry+Bomb+One&family=Lilita+One&family=Righteous&display=swap');

body {
  padding: 0;
  margin: 0;
  color: rgb(255, 255, 255);
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  box-sizing: border-box;

  color-scheme: light dark;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

button, input[type='button'] {
  cursor: pointer;
}

.main-page a {
  text-decoration: none;
}

.call-to-action-button {
  padding: 0 1rem;
  border: none;
  font-size: 1.125rem;
  font-weight: 400;
  background: rgb(51,63,255);
  background: linear-gradient(90deg, rgba(51,63,255,1) 0%, rgba(0,118,255,1) 70%);  
  display: inline-block;
  width: 100%;
  border-radius: 0.3125rem;
}

.call-to-action-text {
  font-weight: 400;
  text-align: left;
}

.arrow {
  border: solid rgb(185, 185, 185);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.home-page-container {
  display: flex;
  flex-grow: 1;
}

.content-container {
  padding: 0 10rem;
}

.bold-text {
  font-weight: 700;
  letter-spacing: 0.1rem;
}

dialog {
  position: absolute;
  width: max-content;
  right: 1rem;
  top: 1rem;
  border: transparent;
  border-radius: 1.25rem;
  text-align: left;
  z-index: 99;
  font-size: 0.7rem;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.3);
  overflow: scroll;
}

dialog h2 {
  font-size: 1.25rem;
  text-align: center;
}

dialog button {
  font-family: 'Cherry Bomb One';
  border: none;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  position: relative;
  float: right;
  font-weight: 700;
}

.ship-dialog p {
  max-width: 10rem;
  font-size: 0.8rem;
}

.port-region, .destination-button {
  display: block;
  border: transparent;
  background: transparent;
  cursor: pointer;
}

.port-region:hover, .destination-button:hover {
  color: rgba(219, 212, 255, 0.87)
}

.filters-menu {
  background-color: #242424;
  overflow: scroll;
}

.filter-button {
  width: 11rem;
  font-size: 1.125rem;
  font-weight: 400;
  padding: 0.5rem 1rem;
  border: transparent;
  border-radius: 0.25rem;
  margin-bottom: 0.5rem;
  z-index: 99;
}

.clear-filters-button:hover {
  background-color: rgb(255, 90, 90);
}

.filter-container {
  padding: 0.3rem;
  margin-bottom: 0.5rem;
  width: auto;
  height: auto;
  border-radius: 10px;
  background-color: #1E1E1E;
}

.filter-components {
  position: 'fixed';
}

.check-box-page {
  padding-top: 1rem;
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #242424;
  overflow: scroll;
}

.check-box-list {
  font-size: 0.8rem;
  width: 100%;
  text-align: left;
  margin: 0 auto;
}

input[type="range"]::-moz-slider-thumb, input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background: #04AA6D; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

input[type="range"]::-moz-range-thumb, input[type="range"]::-moz-range-thumb {
  width: 20px; /* Set a specific slider handle width */
  height: 20px; /* Slider handle height */
  background: #6320ff; /* Green background */
  border: transparent;
  cursor: pointer; /* Cursor on hover */
}

.menu-button {
  opacity: 70%;
}

.menu-button:hover {
  opacity: 100%;
}

.cruise-ship-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

.tile-container {
  background-color: #1E1E1E;
}

#cruise-ship-images {
  border-radius: 0.4rem 0.4rem 0 0;
  max-width: 10rem;
}

.hub {
  color: #cecece;
}

.forter {
  background-color: #1E1E1E;
  margin: auto;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  .call-to-action-light-mode {
    color: #A8A8A8;
  }

  .call-to-action-button {
    color: #FFF;
  }

  .hub {
    color: #C9C9C9;
  }

  .filters-menu {
    background-color: #FFF;
    color: #000;
  }

  .filter-container {
    background-color: #A8A8A8;
  }

  .check-box-page {
    background-color: #FFF;
    color: #000;
  }

  .tile-container {
    background-color: #A8A8A8;
  }

  .footer {
    background-color: #A8A8A8;
    color: #000;
  }
}

/* For screens less than 992px */
@media (max-width: 992px) {
  /* Do something for small screens */
  .home-page-container {
    flex-direction: column;
  }

  .content-container {
    padding: 0;
  }

  .menu-button {
    opacity: 100%;
  }
}

/* For screens smaller than 768px */
@media (max-width: 768px) {
}